.root {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
  padding: 0 15px;
  font-size: 10px;
	border: 1px solid #dad9d9;
  p {
    width: 25%;

		&:hover {
			transform:scale(1.1) ;
			color: rgb(158, 69, 25);
      cursor: pointer;
		}
  }
}
